    body {
        background-color: #1d1d1d;

    }
    h1 {
        color: #ffffff;
        font-size: 48px;
        text-align: center;
    }
    h2 {
        color: #ffffff;
        text-align: center;
    }
    .navbar {
        text-align: center;
    }
    .navbar ul{
        list-style-type: none;
        background-color: #1d1d1d;
        padding: 10px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .navbar a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 15px;
        display: block;
    }
    .navbar a:hover {
        background-color: #9e9e9e;
    }
    .navbar li {
        display: inline-block;
    }